<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="computer">
    <section id="archive">
        <article id="screen">
            <div class="window">
                <div class="window_header">
                    <div>
                        <img src="../img/icons/explorador_de_archivos.png" alt="imagen de explorador de archivos">
                        <p>Explorador de archivos</p>
                    </div>
                    
                    <img src="../img/icons/cierre.png" alt="iconos de windows xp">
                </div>
                <div class="window_nav">
                    <ul>
                        <li><img src="../img/icons/mis_descargas.png" alt="icono de mis descargas" class="window_nav_icon"><p>Mis descargas</p></li>
                        <li class="window_nav_select"><img src="../img/icons/mis_documentos.png" alt="icono de mis documentos" class="window_nav_icon"><p>Mis documentos</p></li>
                        <li><img src="../img/icons/mis_imagenes.png" alt="icono de mis imagenes" class="window_nav_icon"><p>Mis imagenes</p></li>
                        <li><img src="../img/icons/mi_musica.png" alt="icono de mi musica" class="window_nav_icon"><p>Mi musica</p></li>
                        <li><img src="../img/icons/mis_videos.png" alt="icono de mis videos" class="window_nav_icon"><p>Mis videos</p></li>
                    </ul>
                </div>
                <div class="window_component">
                        <a href="" class="window_component_document">
                            <img src="../img/icons/bloc_de_notas.png" alt="icono de bloc de notas">
                            <p>caso 1</p>
                        </a> 
                </div>
            </div>
        </article>
        <article id="footer" class="footer">
            <img src="../img/icons/inicio.png" alt="boton de inicio de windows xp" class="footer_icon">
            <img src="../img/icons/explorador_de_archivos.png" alt="boton de explorador de archivos" class="footer_app">
        </article>
    </section>
</body>
</html>