<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="computer">
    <section id="computer">
        <article id="dialogeC" class="dialoge">
            <h1 class="dialoge_title">Personaje</h1>
            <p class="dialoge_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure libero odit praesentium laborum obcaecati, blanditiis, harum minus vitae pariatur quo cum corrupti sapiente, consectetur dolores tempore impedit! Eum, vel beatae?</p>
        </article>
        <article id="notification1" class="notificacion">
            <h3 class="notificacion_title">Jefe de la agencia</h3>
            <p class="notificacion_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores facilis saepe odio soluta, ex iste ipsa temporibus libero? Ut sed animi, assumenda illo magni quidem tempora! Consequatur, eveniet voluptates?</p>
            <div class="notificacion_buttons">
                <button class="notificacion_accept">Abrir</button>
                <button class="notificacion_decline">Rechazar</button>
            </div>
        </article>
        <article id="notification2" class="notificacion">
            <h3 class="notificacion_title">Ayuda</h3>
            <p class="notificacion_text">...</p>
            <div class="notificacion_buttons">
                <button class="notificacion_accept">Abrir</button>
                <button class="notificacion_decline">Rechazar</button>
            </div>
        </article>
        <article id="footer" class="footer">
            <img src="../img/icons/inicio.png" alt="boton de inicio de windows xp" class="footer_icon">
        </article>
    </section>
</body>
</html>