<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="map">
        <article id="compass" class="compass">
            <div class="arrow up">&#9650;</div>
            <div class="arrowpad">
                <div class="arrow left">&#9664;</div>
                <div class="arrow right">&#9654;</div>
            </div>

        </article>
        <article id="dialogeM" class="dialoge">
            <h1 class="dialoge_title">Personaje</h1>
            <p class="dialoge_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure libero odit praesentium laborum obcaecati, blanditiis, harum minus vitae pariatur quo cum corrupti sapiente, consectetur dolores tempore impedit! Eum, vel beatae?</p>
        </article>
    </section>
</body>
</html>