<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section id="situation">
        <article id="option1" class="option">
            <span class="option_number">1</span>
            <p class="option_text">Ir con el monstruo</p>
        </article>
        <article id="option2" class="option">
            <span class="option_number">2</span>
            <p class="option_text">salir por el espejo de la sala</p>
        </article>
        <article id="dialogeS" class="dialoge">
            <h1 class="dialoge_title">Personaje</h1>
            <p class="dialoge_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus possimus at delectus explicabo eius animi praesentium, pariatur et, alias saepe. Molestias odit laudantium dolorem suscipit asperiores odio. Quos, quis?</p>
        </article>
    </section>
</body>
</html>